@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
table, th, td {
    text-align: center;
}
#table{
    display: flex;
    justify-content: center;
}
#header{
    background-color: rgb(5, 218, 86);
    color: white;
}
#button-ui{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
h1 {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}
h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.delbtn:hover{
    background-color: rgb(255, 98, 98);
    color: white;
}
#punch-state{
    width: 200px;
}
#manual{
    width: 200px;
}
p{
    text-align: center;
}
b {
    font-weight: 1000;
}
.card-text{
    text-align: left;
    font-weight: 100;
}

#about-card{
    display: flex;
    justify-content: center;
}
